.calculator-output {
  background: url('/calculator-input.jpg') no-repeat right top;
  color: #fff;
  font-size: 50px;
  width: 464px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
